# intellij helper files
.idea/

# vscode helper files
.vscode/

# maven related files
target/
dependency-reduced-pom.xml

logs/

# Makefile for custom purposes
Makefile

# annoying and unrelated .log files
*.log