background {
    display: block;
}

.background {
    -fx-background-color: #404040;
}

.text {
    -fx-color: #ff2600;
    color: #ff2600;
}

.button {
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: linear-gradient(#404040, #606060);
    -fx-border-color: #ff2600;
    -fx-border-radius: 1px;
    -fx-border-width: 3px;
    -fx-border-insets: -2px;
}

.button:hover {
    -fx-background-color: linear-gradient(#404040, #202020);
}