background {
    display: block;
}

.background {
    -fx-background-color: #404040;
}

.text {
    -fx-color: #ff2600;
    color: #ff2600;
}

.button {
    -fx-text-fill: black;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: linear-gradient(#404040, #606060);
    -fx-border-color: #ff2600;
    -fx-border-radius: 1px;
    -fx-border-width: 3px;
    -fx-border-insets: -2px;
}

.button:hover {
    -fx-background-color: linear-gradient(#404040, #202020);
}

.dialog-pane {
    -fx-background-color: #404040;
}

.dialog-pane:header .header-panel {
    /*-fx-padding: 0.833em 1.166em 0.833em 1.166em; */
    /* 10px 14px 10px 14px */
    -fx-padding: 0.833em;
    /* 10px */
    -fx-background-color: #404040, linear-gradient(#404040, derive(#404040, 30%));
    -fx-background-insets: 0, 0 0 1 0;
}

.dialog-pane:header .header-panel .label {
    -fx-font-size: 1.167em;
    /* 14px */
    -fx-text-fill: black;
    -fx-wrap-text: true;
}

.dialog-pane>.content.label {
    -fx-alignment: top-left;
    -fx-text-fill: black;
    -fx-padding: 1.333em 0.833em 0 0.833em;
    /* 16px 10px 0px 10px */
}

.text-area {
    -fx-background-color: transparent;
    -fx-text-fill: #ff2600;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content {
    -fx-background-color: transparent;
}

.circle {
    -fx-fill: #ff2600;
    -fx-stroke: #000000;
}

.table-column {
    -fx-alignment: CENTER;
}
